//-------------------------------------------------------------------------------
// Variables
//-------------------------------------------------------------------------------

// Color sheme inspired by:
// http://www.thedayscolor.com/#radioheadthief

$color-light:     #E5ECE1;
$color-richgreen: #0d3018;
$color-lime:      #55ff00;
$color-gold:      #FC8122;
$color-charcoal:  #0C1A25;
$color-blue:      #387A9F;
$color-red:       #DD1A2A;

// Colors
$color-background : $color-light;
$color-text       : $color-richgreen;
$color-link       : $color-red;
$color-link-hover : rgba($color-text, 0.6);
$color-maverick   : $color-richgreen;
$color-tagline    : $color-richgreen;

// Fonts
$font-family-body: 'ITC Charter', 'Charter ITC Std', 'Charter', Georgia, serif;
$font-family-sans: 'Sarine', sans-serif;
$font-family-special: 'Hangul', Futura, sans-serif;

// Breakpoints
$bp-smallish      : 1200px;
$bp-tablet        : 820px;
$bp-mobile        : 500px;

$easeOutCirc:     cubic-bezier(0, 0.55, 0.45, 1);

// Images
// $image-background : url('../../images/background.jpg');

//-------------------------------------------------------------------------------
// Fade In
//-------------------------------------------------------------------------------

@keyframes fadein {
    from { opacity: 0;}
    to   { opacity: 1;}
}

//-------------------------------------------------------------------------------
// Select (theming)
//-------------------------------------------------------------------------------
::selection {
  background-color: rgba($color-lime, 0.4);
  color: $color-text;
}

%decorated-link {
  color: $color-text;
  display: inline-block;
  padding: .15em 0;
  background-color: transparent;
  background-image: linear-gradient(to left, rgba($color-lime, 1),rgba($color-lime, 1));
  background-size: 100% .3em;
  background-repeat: no-repeat;
  background-position: 0 69%;
  transition: all .6s $easeOutCirc;

  &:hover {
    color: $color-link-hover;
    transition-duration: .15s;
  }
  
  .link-reveal {
    display: inline-block;
    width: 0;
    transition: .3s;
    opacity: 0;
    height: 1em;
    transform: translateX(-15px);
  }

  &:hover {
    .link-reveal {
      opacity: 1;
      width: .75em;
      transform: translateX(0);
    }
  }
}

//-------------------------------------------------------------------------------
// Content
//-------------------------------------------------------------------------------

html {
  background-color: $color-background;
}

body.page-template-page-fullsingle-split {
  background-color: $color-background;
  font-family: $font-family-sans;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.42;
  color: $color-text;
  animation: fadein 2s;

  //-------------------------------------------------------------------------------
  // Global Styles
  //-------------------------------------------------------------------------------
  a {
    @extend %decorated-link;
  }
}

hr {
  border: 0;
  border-top: 2px solid currentColor;
  height: 0;
  color: inherit;
}

a {
  color: $color-link;
  outline-color: $color-lime;
  &:focus {
    outline: 6px solid $color-lime;
  }
}

//-------------------------------------------------------------------------------
// Sections and Columns
//-------------------------------------------------------------------------------

.fs-split {
  width: 100vw;
  min-height: 100vh;
  
  @media (min-width: $bp-tablet) {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  //-------------------------------------------------------------------------------
  // Column - Big Image
  //-------------------------------------------------------------------------------

  .split-image {
    order: 2;
    height: 80vh;
    width: 100%;

    @media (min-width: $bp-tablet) {
      position: sticky;
      top: 0;
      width: 42%;
      height: 100vh;
      flex-shrink: 0;
    }
    @media (min-width: $bp-tablet) and (min-aspect-ratio: 1/1) and (max-aspect-ratio: 7/5) {
      width: 50%;
    }
    @media (min-width: $bp-tablet) and (min-aspect-ratio: 2/1) {
      width: 36%;
    }

    background-size: cover;
  }

  //-------------------------------------------------------------------------------
  // Column - Content
  //-------------------------------------------------------------------------------

  .split-content {
    order: 1;
    width: 100%;
//    min-height: 100vh;
    display: flex;
    align-items: flex-start;
    overflow: auto;

    @media (min-width: $bp-tablet) {
      flex-basis: flex-grow;
      width: auto;
    }

    .split-content-vertically-center {
      padding: 60px 5vw 40px;
      margin-top: auto;
    }
  }
}

//-------------------------------------------------------------------------------
// Content
//-------------------------------------------------------------------------------

//-------------------------------------------------------------------------------
// Intro Text
//-------------------------------------------------------------------------------

.split-intro {
  font-weight: 300;
  font-size: 32px;
  line-height: 1.08;
//  letter-spacing: -2px;
  margin-bottom: 1.5em;

  h1 {
    font-family: $font-family-special;
    font-weight: 400;
    display: inline-block;
    line-height: 0.85;
    margin-bottom: 0.3em;
    font-size: 56px;
    @media (min-width: $bp-tablet) {
      font-size: 72px;
    }
    border-bottom: 4px solid currentColor;
  }

  .tagline {
    font-size: 21px;
  }
}

//-------------------------------------------------------------------------------
// Biography
//-------------------------------------------------------------------------------

.split-bio {
  margin: 1em 0;

  @media (max-width: $bp-smallish ) {
//    padding: 30px 0 10px 0;
  }

  @media (max-width: $bp-tablet ) {
//    padding: 20px 0 0 0;
  }

  em,
  i {
    font-style: italic;
    line-height: inherit;
  }

  strong,
  b {
    font-weight: bold;
    line-height: inherit;
  }

  small {
    font-size: 80%;
    line-height: inherit;
  }

  h1, .h1,
  h2, .h2,
  h3, .h3,
  h4, .h4,
  h5, .h5,
  h6, .h6 {
    font-style: normal;
    font-weight: 300;
    color: inherit;
  }

  h1 small, .h1 small,
  h2 small, .h2 small,
  h3 small, .h3 small,
  h4 small, .h4 small,
  h5 small, .h5 small,
  h6 small, .h6 small {
    line-height: 0;
  }

  h1, .h1 {
    font-size: 1.5em;
    line-height: inherit;
    margin-top: 0;
    margin-bottom: 20px;
  }

  h2, .h2 {
    font-size: 1.25em;
    line-height: inherit;
    margin-top: 0;
    margin-bottom: 20px;
  }

  h3, .h3 {
    font-size: 1.1875em;
    line-height: inherit;
    margin-top: 0;
    margin-bottom: 20px;
  }

  h4, .h4 {
    font-size: 1.125em;
    line-height: inherit;
    margin-top: 0;
    margin-bottom: 20px;
  }

  h5, .h5 {
    font-size: 1.0625em;
    line-height: inherit;
    margin-top: 0;
    margin-bottom: 20px;
  }

  h6, .h6 {
    font-size: 1em;
    line-height: inherit;
    margin-top: 0;
    margin-bottom: 20px;
  }

  ul,
  ol,
  dl {
    margin-bottom: 20px;
    list-style-position: outside;
    line-height: inherit;
  }

  li {
    font-size: inherit;
  }

  ul {
    margin-left: 2.25em;
    list-style-type: disc;
  }

  ol {
    margin-left: 2.25em;
    list-style-type: decimal;
  }

  ul ul, ol ul, ul ol, ol ol {
    margin-left: 1.25em;
    margin-bottom: 0;
  }

  dl dt {
    margin-bottom: 10px;
    font-weight: bold;
  }

  dl dd {
    margin-bottom: 10px;
  }
}

//-------------------------------------------------------------------------------
// Lists
//-------------------------------------------------------------------------------

.split-lists {
  max-width: 540px;
  
  font-size: 24px;
  
  @media (min-width: $bp-mobile) {
    font-size: inherit;
  }

  .split-list {
    margin-bottom: 3em;

    @media (min-width: $bp-mobile) {
      margin-bottom: 0;
      width: 33%; // make sure there is no whitespace between the lists
      vertical-align: top;
      display: inline-block;
    }

    h3 {
//      text-transform: uppercase;
//      font-size: 12px;
      line-height: 1;
      margin-bottom: 1em;
      letter-spacing: 2px;
      opacity: 0.5;
    }

    ul {
      li {
        margin-bottom: 0.67em;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

//-------------------------------------------------------------------------------
// Credit
//-------------------------------------------------------------------------------

//  To edit this credit you can remove the CC3.0 license for only $5 here: https://onepagelove.com/split
//  this really helps contribute towards us developing more templates and means the world to me!
//  Cheers, Rob (@robhope)

.split-credit {
  opacity: 0.7;

  p {
    font-size: 12px;
    line-height: 14px;

    a {
      color: $color-text;
    }
  }
}

//-------------------------------------------------------------------------------
// Videos - shout out to my bud https://twitter.com/manuelmoreale for the Ninja skills
//-------------------------------------------------------------------------------

// YouTube

.split-video {
  overflow:hidden;
  position:relative;
}
.video-wrap{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.video-container {
  position:relative;
  overflow:hidden;
  height: 56.25vw;
  width: 100vw;
  @media (max-aspect-ratio:16/9) {
    height: 100vh;
    width: 177.7777777778vh; // this is for the ration 16:9
  }
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Self-Hosted

video.video {
  object-fit      : cover;
  object-position : 50% 50%;
  width           : 100%;
  height          : 100%;
}
